.themify_builder .feature-2256-0-0-1.module-feature { background-color: #fff;  } 
/* .themify_builder_2256_row.module_row_1 Style */
.themify_builder_2256_row.module_row_1.module_row {
	background-color: #000000;
	color: #ffffff
}
.themify_builder_2256_row.module_row_1.module_row a {
	color: #c4151c
}
.themify_builder_2256_row.module_row_1.module_row h1 {
	color: #ffffff
}
.themify_builder_2256_row.module_row_1.module_row h2 {
	color: #ffffff
}
.themify_builder_2256_row.module_row_1.module_row h3:not(.module-title) {
	color: #ffffff
}
.themify_builder_2256_row.module_row_1.module_row h4 {
	color: #ffffff
}
.themify_builder_2256_row.module_row_1.module_row h5 {
	color: #ffffff
}
.themify_builder_2256_row.module_row_1.module_row h6 {
	color: #ffffff
}

.themify_builder .text-2256-1-0-1.module-text { background-color: #000; font-family: Quattrocento Sans; color: #fff;  } 
.themify_builder .text-2256-1-0-1.module-text h1 { font-family: Quattrocento Sans; color: #fff;  } 
.themify_builder .text-2256-1-0-1.module-text h2 { font-family: Quattrocento Sans; color: #fff;  } 
.themify_builder .text-2256-1-0-1.module-text h3:not(.module-title) { font-family: Quattrocento Sans; color: #fff;  } 
.themify_builder .text-2256-1-0-1.module-text h4 { font-family: Quattrocento Sans; color: #fff;  } 
.themify_builder .text-2256-1-0-1.module-text h5 { font-family: Quattrocento Sans; color: #fff;  } 
.themify_builder .text-2256-1-0-1.module-text h6 { font-family: Quattrocento Sans; color: #fff;  } 
.themify_builder .text-2256-1-0-1.module-text a { color: #c4151c;  } 
/* .themify_builder_2256_row.module_row_2 Style */
.themify_builder_2256_row.module_row_2.module_row {
	background-color: #000000;
	color: #ffffff
}
.themify_builder_2256_row.module_row_2.module_row a {
	color: #ffffff
}
.themify_builder_2256_row.module_row_2.module_row h1 {
	color: #ffffff
}
.themify_builder_2256_row.module_row_2.module_row h2 {
	color: #ffffff
}
.themify_builder_2256_row.module_row_2.module_row h3:not(.module-title) {
	color: #ffffff
}
.themify_builder_2256_row.module_row_2.module_row h4 {
	color: #ffffff
}
.themify_builder_2256_row.module_row_2.module_row h5 {
	color: #ffffff
}
.themify_builder_2256_row.module_row_2.module_row h6 {
	color: #ffffff
}

.themify_builder .text-2256-2-0-1.module-text { background-color: #c4151c;  } 
/* .themify_builder_2256_row.module_row_3 Style */
.themify_builder_2256_row.module_row_3.module_row {
	background-color: #000;
	color: #ffffff
}
.themify_builder_2256_row.module_row_3.module_row a {
	color: #c4151c
}
.themify_builder_2256_row.module_row_3.module_row h1 {
	color: #ffffff
}
.themify_builder_2256_row.module_row_3.module_row h2 {
	color: #ffffff
}
.themify_builder_2256_row.module_row_3.module_row h3:not(.module-title) {
	color: #ffffff
}
.themify_builder_2256_row.module_row_3.module_row h4 {
	color: #ffffff
}
.themify_builder_2256_row.module_row_3.module_row h5 {
	color: #ffffff
}
.themify_builder_2256_row.module_row_3.module_row h6 {
	color: #ffffff
}

.themify_builder .text-2256-3-0-1.module-text { font-family: Montserrat; color: #fff;  } 
.themify_builder .text-2256-3-0-1.module-text h1 { font-family: Montserrat; color: #fff;  } 
.themify_builder .text-2256-3-0-1.module-text h2 { font-family: Montserrat; color: #fff;  } 
.themify_builder .text-2256-3-0-1.module-text h3:not(.module-title) { font-family: Montserrat; color: #fff;  } 
.themify_builder .text-2256-3-0-1.module-text h4 { font-family: Montserrat; color: #fff;  } 
.themify_builder .text-2256-3-0-1.module-text h5 { font-family: Montserrat; color: #fff;  } 
.themify_builder .text-2256-3-0-1.module-text h6 { font-family: Montserrat; color: #fff;  } 
/* .themify_builder_2256_row.module_row_4 Style */
.themify_builder_2256_row.module_row_4.module_row {
	background-color: #c4151c;
	font-family: Quattrocento Sans;
	color: #ffffff
}
.themify_builder_2256_row.module_row_4.module_row a {
	color: #c4151c
}
.themify_builder_2256_row.module_row_4.module_row h1 {
	color: #ffffff
}
.themify_builder_2256_row.module_row_4.module_row h2 {
	color: #ffffff
}
.themify_builder_2256_row.module_row_4.module_row h3:not(.module-title) {
	color: #ffffff
}
.themify_builder_2256_row.module_row_4.module_row h4 {
	color: #ffffff
}
.themify_builder_2256_row.module_row_4.module_row h5 {
	color: #ffffff
}
.themify_builder_2256_row.module_row_4.module_row h6 {
	color: #ffffff
}

.themify_builder .text-2256-4-0-1.module-text { font-family: Montserrat; color: #fff; text-align: center;  } 
.themify_builder .text-2256-4-0-1.module-text h1 { font-family: Montserrat; color: #fff;  } 
.themify_builder .text-2256-4-0-1.module-text h2 { font-family: Montserrat; color: #fff;  } 
.themify_builder .text-2256-4-0-1.module-text h3:not(.module-title) { font-family: Montserrat; color: #fff;  } 
.themify_builder .text-2256-4-0-1.module-text h4 { font-family: Montserrat; color: #fff;  } 
.themify_builder .text-2256-4-0-1.module-text h5 { font-family: Montserrat; color: #fff;  } 
.themify_builder .text-2256-4-0-1.module-text h6 { font-family: Montserrat; color: #fff;  } 
