/* .themify_builder_2237_row.module_row_0 Style */
.themify_builder_2237_row.module_row_0.module_row {
	color: #000
}
.themify_builder_2237_row.module_row_0.module_row a {
	color: #000
}
.themify_builder_2237_row.module_row_0.module_row h1 {
	color: #000
}
.themify_builder_2237_row.module_row_0.module_row h2 {
	color: #000
}
.themify_builder_2237_row.module_row_0.module_row h3:not(.module-title) {
	color: #000
}
.themify_builder_2237_row.module_row_0.module_row h4 {
	color: #000
}
.themify_builder_2237_row.module_row_0.module_row h5 {
	color: #000
}
.themify_builder_2237_row.module_row_0.module_row h6 {
	color: #000
}

.themify_builder .text-2237-0-0-1.module-text { background-color: #fff; color: #000;  } 
.themify_builder .text-2237-0-0-1.module-text h1 { color: #000;  } 
.themify_builder .text-2237-0-0-1.module-text h2 { color: #000;  } 
.themify_builder .text-2237-0-0-1.module-text h3:not(.module-title) { color: #000;  } 
.themify_builder .text-2237-0-0-1.module-text h4 { color: #000;  } 
.themify_builder .text-2237-0-0-1.module-text h5 { color: #000;  } 
.themify_builder .text-2237-0-0-1.module-text h6 { color: #000;  } 
.themify_builder .text-2237-0-0-1.module-text a { color: #000;  } 
/* .themify_builder_2237_row.module_row_1 Style */
.themify_builder_2237_row.module_row_1.module_row {
	background-color: #fff;
	text-align: center;
	color: #000
}
.themify_builder_2237_row.module_row_1.module_row a {
	color: #ffffff
}
.themify_builder_2237_row.module_row_1.module_row h1 {
	color: #000
}
.themify_builder_2237_row.module_row_1.module_row h2 {
	color: #000
}
.themify_builder_2237_row.module_row_1.module_row h3:not(.module-title) {
	color: #000
}
.themify_builder_2237_row.module_row_1.module_row h4 {
	color: #000
}
.themify_builder_2237_row.module_row_1.module_row h5 {
	color: #000
}
.themify_builder_2237_row.module_row_1.module_row h6 {
	color: #000
}

.themify_builder .text-2237-1-0-1.module-text { background-color: #fff; color: #000;  } 
.themify_builder .text-2237-1-0-1.module-text h1 { color: #000;  } 
.themify_builder .text-2237-1-0-1.module-text h2 { color: #000;  } 
.themify_builder .text-2237-1-0-1.module-text h3:not(.module-title) { color: #000;  } 
.themify_builder .text-2237-1-0-1.module-text h4 { color: #000;  } 
.themify_builder .text-2237-1-0-1.module-text h5 { color: #000;  } 
.themify_builder .text-2237-1-0-1.module-text h6 { color: #000;  } 
.themify_builder .text-2237-1-0-1.module-text a { color: #000;  } 
/* .themify_builder_2237_row.module_row_2 Style */
.themify_builder_2237_row.module_row_2.module_row {
	background-color: #fff;
	color: #000
}
.themify_builder_2237_row.module_row_2.module_row a {
	color: #ffffff
}
.themify_builder_2237_row.module_row_2.module_row h1 {
	color: #000
}
.themify_builder_2237_row.module_row_2.module_row h2 {
	color: #000
}
.themify_builder_2237_row.module_row_2.module_row h3:not(.module-title) {
	color: #000
}
.themify_builder_2237_row.module_row_2.module_row h4 {
	color: #000
}
.themify_builder_2237_row.module_row_2.module_row h5 {
	color: #000
}
.themify_builder_2237_row.module_row_2.module_row h6 {
	color: #000
}

.themify_builder .text-2237-2-0-1.module-text { background-color: #fff; color: #000;  } 
.themify_builder .text-2237-2-0-1.module-text h1 { color: #000;  } 
.themify_builder .text-2237-2-0-1.module-text h2 { color: #000;  } 
.themify_builder .text-2237-2-0-1.module-text h3:not(.module-title) { color: #000;  } 
.themify_builder .text-2237-2-0-1.module-text h4 { color: #000;  } 
.themify_builder .text-2237-2-0-1.module-text h5 { color: #000;  } 
.themify_builder .text-2237-2-0-1.module-text h6 { color: #000;  } 
.themify_builder .text-2237-2-0-1.module-text a { color: #000;  } 
