/* .themify_builder_2216_row.module_row_0 Style */
.themify_builder_2216_row.module_row_0.module_row {
	background-color: #000000;
	color: #ffffff
}
.themify_builder_2216_row.module_row_0.module_row a {
	color: #d4fffe
}
.themify_builder_2216_row.module_row_0.module_row h1 {
	color: #ffffff
}
.themify_builder_2216_row.module_row_0.module_row h2 {
	color: #ffffff
}
.themify_builder_2216_row.module_row_0.module_row h3:not(.module-title) {
	color: #ffffff
}
.themify_builder_2216_row.module_row_0.module_row h4 {
	color: #ffffff
}
.themify_builder_2216_row.module_row_0.module_row h5 {
	color: #ffffff
}
.themify_builder_2216_row.module_row_0.module_row h6 {
	color: #ffffff
}

/* .themify_builder_2216_row.module_row_1 Style */
.themify_builder_2216_row.module_row_1.module_row {
	background-color: #000;
	color: #fff
}
.themify_builder_2216_row.module_row_1.module_row a {
	color: #c4151c
}
.themify_builder_2216_row.module_row_1.module_row h1 {
	color: #fff
}
.themify_builder_2216_row.module_row_1.module_row h2 {
	color: #fff
}
.themify_builder_2216_row.module_row_1.module_row h3:not(.module-title) {
	color: #fff
}
.themify_builder_2216_row.module_row_1.module_row h4 {
	color: #fff
}
.themify_builder_2216_row.module_row_1.module_row h5 {
	color: #fff
}
.themify_builder_2216_row.module_row_1.module_row h6 {
	color: #fff
}

.themify_builder .text-2216-1-0-1.module-text { background-color: #000;  } 
