.themify_builder .image-4835-0-0-1.module-image { background-color: #fff;  } 
.themify_builder .image-4835-0-0-1.module-image .image-content { font-family: Quattrocento Sans; color: #000;  } 
.themify_builder .image-4835-0-0-1.module-image .image-title { font-family: Quattrocento Sans; color: #000;  } 
.themify_builder .image-4835-0-0-1.module-image .image-title a { font-family: Quattrocento Sans; color: #000;  } 
.themify_builder .image-4835-0-0-1.module-image h1 { color: #000;  } 
.themify_builder .image-4835-0-0-1.module-image h2 { color: #000;  } 
.themify_builder .image-4835-0-0-1.module-image h3:not(.module-title) { color: #000;  } 
.themify_builder .image-4835-0-0-1.module-image h4 { color: #000;  } 
.themify_builder .image-4835-0-0-1.module-image h5 { color: #000;  } 
.themify_builder .image-4835-0-0-1.module-image h6 { color: #000;  } 
.themify_builder .image-4835-0-0-1.module-image a { color: #c4151c;  } 
