/* .themify_builder_4381_row.module_row_0 Style */
.themify_builder_4381_row.module_row_0.module_row {
	background-color: #fff
}

.themify_builder .text-4381-sub_row_0-0-1-0-0.module-text { background-color: #000; color: #fff;  } 
.themify_builder .text-4381-sub_row_0-0-1-0-0.module-text h1 { color: #fff;  } 
.themify_builder .text-4381-sub_row_0-0-1-0-0.module-text h2 { color: #fff;  } 
.themify_builder .text-4381-sub_row_0-0-1-0-0.module-text h3:not(.module-title) { color: #fff;  } 
.themify_builder .text-4381-sub_row_0-0-1-0-0.module-text h4 { color: #fff;  } 
.themify_builder .text-4381-sub_row_0-0-1-0-0.module-text h5 { color: #fff;  } 
.themify_builder .text-4381-sub_row_0-0-1-0-0.module-text h6 { color: #fff;  } 
