.themify_builder .text-4659-0-0-1.module-text { background-color: #fff;  } 
.themify_builder .text-4659-1-0-1.module-text { background-color: #fff; color: #fff; text-align: center;  } 
.themify_builder .text-4659-1-0-1.module-text h1 { color: #fff;  } 
.themify_builder .text-4659-1-0-1.module-text h2 { color: #fff;  } 
.themify_builder .text-4659-1-0-1.module-text h3:not(.module-title) { color: #fff;  } 
.themify_builder .text-4659-1-0-1.module-text h4 { color: #fff;  } 
.themify_builder .text-4659-1-0-1.module-text h5 { color: #fff;  } 
.themify_builder .text-4659-1-0-1.module-text h6 { color: #fff;  } 
.themify_builder .text-4659-2-0-1.module-text { background-color: #c4151c; color: #fff; text-align: center;  } 
.themify_builder .text-4659-2-0-1.module-text h1 { color: #fff;  } 
.themify_builder .text-4659-2-0-1.module-text h2 { color: #fff;  } 
.themify_builder .text-4659-2-0-1.module-text h3:not(.module-title) { color: #fff;  } 
.themify_builder .text-4659-2-0-1.module-text h4 { color: #fff;  } 
.themify_builder .text-4659-2-0-1.module-text h5 { color: #fff;  } 
.themify_builder .text-4659-2-0-1.module-text h6 { color: #fff;  } 
.themify_builder .text-4659-2-0-1.module-text a { color: #fff; text-decoration: underline;  } 
.themify_builder .text-4659-3-0-1.module-text { background-color: #000; color: #fff; text-align: center;  } 
.themify_builder .text-4659-3-0-1.module-text h1 { color: #fff;  } 
.themify_builder .text-4659-3-0-1.module-text h2 { color: #fff;  } 
.themify_builder .text-4659-3-0-1.module-text h3:not(.module-title) { color: #fff;  } 
.themify_builder .text-4659-3-0-1.module-text h4 { color: #fff;  } 
.themify_builder .text-4659-3-0-1.module-text h5 { color: #fff;  } 
.themify_builder .text-4659-3-0-1.module-text h6 { color: #fff;  } 
.themify_builder .text-4659-3-0-1.module-text a { color: #fff; text-decoration: underline;  } 
